
<p>
  <strong>Name:</strong>
  <%= @income.payment.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @income.payment.amount %>
</p>

<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
