

<p>
  <strong>Name:</strong>
  <%= @expence.payment.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expence.payment.amount %>
</p>

<%= link_to 'Edit', edit_expence_path(@expence) %> |
<%= link_to 'Back', expences_path %>
